*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,system-ui;
}

body{
background:#0f172a;
color:#e5e7eb;
line-height:1.6;
}

/* NAV */
.nav{
display:flex;
justify-content:space-between;
padding:20px 8%;
align-items:center;
position:sticky;
top:0;
background:#0f172a;
}

.nav nav{
display:flex;
gap:24px;
}

.nav a{
text-decoration:none;
color:#cbd5f5;
font-size:14px;
}

/* HERO */
.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 8%;
gap:40px;
}

.hero img{
width:260px;
<img src="1.jpg" alt="image">
border-radius:20px;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero h2{
font-size:18px;
opacity:.7;
margin-bottom:12px;
}

/* SECTION */
.section{
padding:70px 8%;
max-width:1100px;
margin:auto;
}

.section h2{
margin-bottom:20px;
font-size:28px;
}

/* BUTTON */
.btn{
display:inline-block;
background:#6366f1;
color:white;
padding:12px 20px;
border-radius:10px;
text-decoration:none;
margin-top:10px;
}

.btn.small{
padding:8px 14px;
font-size:14px;
}

/* SKILLS */
.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:14px;
}

.skills span{
background:#1e293b;
padding:12px;
border-radius:10px;
text-align:center;
}

/* PROJECTS */
.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:16px;
border-radius:14px;
transition:.25s;
}

.card:hover{
transform:translateY(-6px);
}

.card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

/* TIMELINE */
.timeline{
list-style:none;
display:flex;
flex-direction:column;
gap:12px;
opacity:.8;
}

/* FOOTER */
footer{
text-align:center;
padding:30px;
opacity:.6;
}

/* RESPONSIVE */
@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.nav nav{
display:none;
}

}
